@charset "UTF-8";
:root {
  --accent-color: #2196F3;
  --primary-font: "Roboto", sans-serif;
  --primary-font-color: #212121;
  --primary-weight-font: 500;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.our-clients__link, .hang__item-icon-wrapper, .check-desc, .modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  color: var(--primary-font-color);
  font-family: var(--primary-font);
  font-weight: var(--primary-weight-font);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.btn {
  align-self: center;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-color: transparent;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 26px;
  font-weight: 700px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-dur-and-func);
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__call {
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-font-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color var(--transition-dur-and-func);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color var(--transition-dur-and-func);
}
.modal-form__textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__input-desc {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form__input-icon-wrapper {
  display: block;
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__field {
  margin-bottom: 10px;
}

.email-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.email-form__btn {
  display: flex;
  align-items: center;
  padding-left: 29px;
}

.email-form__icon {
  margin-left: 10px;
}

.email-form {
  display: flex;
}

.form-wrapper {
  margin-left: 93px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: #AFB1B8;
  transition: fill var(--transition-dur-and-func);
}

.call {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.modal-close-btn__img {
  transition: fill var(--transition-dur-and-func);
}
.modal-close-btn:focus .modal-close-btn__img, .modal-close-btn:hover .modal-close-btn__img {
  fill: var(--accent-color);
}

.check-desc {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}
.check-desc::before {
  margin-right: 7px;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--primary-font-color);
  transition: background-color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}

.check-desc__policy-link {
  color: var(--accent-color);
}

/* Оформление кастомного чекбокса */
.checkbox:checked + .check-desc::before {
  background-color: var(--accent-color);
  background-image: url(../images/check-box/check.svg);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}

.header__logo {
  margin-right: 93px;
}

.logo__text {
  color: var(--accent-color);
}

.menu__link {
  position: relative;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
  transition: color var(--transition-dur-and-func);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__link_current {
  padding-bottom: 32px;
  color: var(--accent-color);
}

.menu__link_current::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-list__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color var(--transition-dur-and-func);
}
.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.contact-list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__logo {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 25px;
  padding-bottom: 25px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-color: #C4C4C4;
}

.hero__title {
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-button {
  padding: 10px 32px;
  color: #ffffff;
  background-color: var(--accent-color);
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.88;
  vertical-align: middle;
  letter-spacing: 0.06em;
}

.hero__container {
  text-align: center;
  /* padding-left: 252px;
  padding-right: 252px; */
}

.hang {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hang__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hang__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.hang__list {
  display: flex;
  column-gap: 30px;
}

.hang__item {
  flex-basis: calc((100% - 90px) / 4);
}

.hang__item-icon-wrapper {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.occupation__title {
  margin-bottom: 50px;
}

.occupation__list {
  display: flex;
  column-gap: 30px;
}

.occupation {
  padding-bottom: 94px;
}

.occupation__list-item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.occupation__img-text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  min-height: 70px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team__list-item-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: var(--primary-weight-font);
  text-align: center;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__list-item-text {
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  column-gap: 30px;
}

.team__list-item {
  flex-basis: calc((100% - 90px) / 4);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team__card-content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}

.social-list__link_bg-color {
  background-color: #FFFFFF;
}

.social-list__link_bg-color:hover .social-list__icon,
.social-list__link_bg-color:focus .social-list__icon {
  fill: #FFFFFF;
}

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients__title {
  margin-bottom: 50px;
}

.our-clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.our-clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.our-clients__link:hover, .our-clients__link:focus {
  border-color: var(--accent-color);
}

.our-clients__logo {
  fill: #AFB1B8;
  transition: fill var(--transition-dur-and-func);
}
.our-clients__link:hover .our-clients__logo, .our-clients__link:focus .our-clients__logo {
  fill: var(--accent-color);
}

.logo__text-invert {
  color: #FFFFFF;
}

.address-list {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
}

.address-list__map {
  color: #FFFFFF;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.page-footer__logo-adress-wrapper {
  margin-right: 60px;
}

.social-list__icon_footer-color {
  fill: #FFFFFF;
}

.social-list__link_footer-bg-color {
  background-color: rgba(255, 255, 255, 0.1);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Оформление фильтра */
.filter-list__portfolio-btn {
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  background-color: #EEEEEE;
  font-weight: var(--primary-weight-font);
  line-height: 1.63;
  /* text-align: center;
  vertical-align: top; */
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.filter-list__portfolio-btn:hover, .filter-list__portfolio-btn:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  background-color: var(--accent-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

/* Оформление карточек */
.img-list__card-wrapper {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.img-list__item {
  flex-basis: calc((100% - 240px) / 9);
  transition: box-shadow var(--transition-dur-and-func);
}
.img-list__item:hover, .img-list__item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.img-list__link-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.img-list__link-text {
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.img-list__envelope {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  overflow: auto;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transition: transform var(--transition-dur-and-func);
}
.img-list__card-link:hover .img-list__envelope, .img-list__card-link:focus .img-list__envelope {
  transform: translate(0, 0);
}

.img-list__pic-envelope-wrapper {
  position: relative;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */