.hang {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hang__title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.hang__text {
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
    color: #757575;
}

.hang__list {
    display: flex;
    column-gap: 30px;
}

.hang__item {
    flex-basis: calc((100% - 90px) / 4);
}

.hang__item-icon-wrapper {
    @extend %flex-centering;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
}